@page "/CarList"
<h3>Car List</h3>

@inherits CarListComponent
@if (ListOfCars != null && ListOfCars.Count == 0)
{
	<p>No Cars for that year</p>

}
else
{
	<ol>
		@foreach (var cars in ListOfCars)
		{
			<li>@cars</li>
		}
	</ol>
}

<EditForm Model="@carYear" OnSubmit="@FilterByYear">
	<input type="number" @bind="@carYear" placeholder="Enter Car Year" />
	<button onclick="@(async () => await FilterByYear())">
		Search By Year
	</button>
</EditForm>

<EditForm Model="@carMake" OnSubmit="@FilterByMake">
	<input type="text" @bind="@carMake" placeholder="Enter Car Make" />
	<button onclick="@(async () => await FilterByMake())">
		Search By Make
	</button>