@page "/CarList"
<h3>Cars</h3>

@inherits CarListComponent

<table>
	<tr>
		<td>
			<div style="padding: 10px;">
				<EditForm Model="@ListOfCars" OnSubmit="@FilterBySearch">
					<InputText @bind-Value="@search" placeholder="Enter Car Details" />
					<button type="submit">Search for Car</button>
				</EditForm>
			</div>
		</td>

		<td>
			<th>Add a Car </th>
		
			<EditForm Model="@ListOfCars" OnSubmit="@AddCar">
				<InputNumber @bind-Value="@newCar!.Year" placeholder="Enter Car Year" />
				<InputText @bind-Value="@newCar!.Make" placeholder="Enter Car Make" />
				<InputText @bind-Value="@newCar!.Model" placeholder="Enter Car Model" />
				<InputText @bind-Value="@newCar!.Color" placeholder="Enter Car Color" />
				<button type="submit">Add Car</button>
			</EditForm>
		</td>
		<td>
		
			<th>Delete a User</th>
			<EditForm Model="@carToDelete" OnSubmit="@DeleteCar">
				<InputText @bind-Value="@carToDelete.Model" placeholder="Enter User Name" />
				<button type="submit">Delete Car</button>
			</EditForm>
		</td>
		
	</tr>
</table>

<table>
@if (ListOfCars == null || ListOfCars.Count == 0)
{
	<p style="color: red; font-weight: bold;">
		No Cars have been found
	</p>

}
else
{
	
		@foreach (var cars in ListOfCars)
		{
			<tr>
				<td>
					<li>@cars</li>
				</td>
			</tr>
		}
	
}	
</table>
