@page "/InitialUser"


<h3> @initialUserViewModel.currentUser.UserName</h3>

@inherits InitialUserComponent

<table>
	<tr>
		<td>
			<EditForm Model="@initialUserViewModel.currentUser" OnSubmit="@ChangeUser">
				<InputNumber @bind-Value="@initialUserViewModel.initialUser" placeholder="Select a User" />
				<MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Select User</MudButton>
			</EditForm>
		</td>
	</tr>
</table>

<MudGrid>
	<MudStack Row="true">
		<td>
			<div style="padding: 10px;">
				<EditForm Model="@initialUserViewModel.ListOfCars" OnSubmit="@FilterBySearch">
					<InputText @bind-Value="@initialUserViewModel.search" placeholder="Search for Car" />
					<MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit">Search for Car</MudButton>
				</EditForm>
			</div>
		</td>
		<td>
			<EditForm Model="@initialUserViewModel.newCar" OnSubmit="@AddCar">
				<InputNumber @bind-Value="@initialUserViewModel.newCar.Year" placeholder="Enter Car Year" />
				<InputText @bind-Value="@initialUserViewModel.newCar!.Make" placeholder="Enter Car Make" />
				<InputText @bind-Value="@initialUserViewModel.newCar!.Model" placeholder="Enter Car Model" />
				<MudColorPicker Label="Select Car Color" @bind-Text="@initialUserViewModel.newCar!.Color" ColorPickerView="ColorPickerView.GridCompact" />
				<div style="background-color: @initialUserViewModel.newCar.Color; width: 30px; height: 30px; top: 10px;"></div>
				<MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Add Car</MudButton>
			</EditForm>
		</td> 
	</MudStack>
</MudGrid>



<MudDataGrid Items="@initialUserViewModel.ListOfCars">

	<Columns>

		<PropertyColumn Property="c => c.Id" Title="Id" />
		<PropertyColumn Property="c => c.Year" Title="Year" />
		<PropertyColumn Property="c => c.Make" Title="Make" />
		<PropertyColumn Property="c => c.Model" Title="Model" />
		<PropertyColumn Property="c => c.Color" Title="Color" />

		


		<TemplateColumn>
			<CellTemplate>
				<MudButton OnClick="@(() => OpenDialog(context.Item))" Variant="Variant.Filled" Color="Color.Primary">
					Open Car Details
				</MudButton>
				<MudButton @onclick="_ => OpenDialog(context.Item.Notes, context.Item)" Variant="Variant.Filled" Color="Color.Primary">
					Open Notes
				</MudButton>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
</MudDataGrid>

<MudTimeline>


	@if (initialUserViewModel.isSortedById)
	{
		initialUserViewModel.sortButtonText = "Sort By Year";
	}

	else
	{
		initialUserViewModel.sortButtonText = "Sort By Id";
	}
	<MudStack Row="true" AlignItems="AlignItems.Start">
		<MudButton @onclick="_ => SortCarsByYearOrId()" Variant="Variant.Filled" Color="Color.Primary">
			@initialUserViewModel.sortButtonText
		</MudButton>
	</MudStack>
	@foreach (var car in initialUserViewModel.ListOfCars)
	{
		<MudTimelineItem>
			<MudStack Row="true" AlignItems="AlignItems.Stretch">
					
					<MudText>@car.Id</MudText>
					<MudText>@car.Year</MudText>
					<MudText>@car.Make</MudText>
					<MudText>@car.Model</MudText>
					<div style="background-color: @car.Color; width: 30px; height: 30px; top: 10px;"></div>
				</MudStack>
			</MudTimelineItem>
	}
</MudTimeline>





