@page "/InitialUser"


<h3> @currentUser.UserName</h3>

@inherits InitialUserComponent

<table>
    <tr>
        <td>
            <EditForm Model="@currentUser" OnSubmit="@ChangeUser">
                <InputNumber @bind-Value="@initialUser" placeholder="Enter User Id" />
                <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Select User</MudButton>
            </EditForm>
        </td>
    </tr>
</table>

<MudGrid>
    <MudStack Row="true">
        <td>
            <div style="padding: 10px;">
                <EditForm Model="@ListOfCars" OnSubmit="@FilterBySearch">
                    <InputText @bind-Value="@search" placeholder="Enter Car Details" />
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit">Search for Car</MudButton>
                </EditForm>
            </div>
        </td>
        <td>
            <EditForm Model="@newCar" OnSubmit="@AddCar">
                <InputNumber @bind-Value="@newCar!.Year" placeholder="Enter Car Year" />
                <InputText @bind-Value="@newCar!.Make" placeholder="Enter Car Make" />
                <InputText @bind-Value="@newCar!.Model" placeholder="Enter Car Model" />
                <InputText @bind-Value="@newCar!.Color" placeholder="Enter Car Color" />
                <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Add Car</MudButton>
            </EditForm>
        </td>
        <MudStack Row="true">
            <MudGrid>
                <MudItem md="8" Class="d-flex justify-center">
                    <MudColorPicker ColorPickerMode="ColorPickerMode" PickerVariant="PickerVariant.Static" />
                </MudItem>
                <MudItem md="4">
                    <MudPaper Height="400px" Class="px-4 pt-2 pb-4">
                        <MudText Typo="Typo.h6">Choose Car Color</MudText>
                        <MudSelect Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" @bind-Value="ColorPickerMode" Class="mt-4">
                            
                        </MudSelect>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudStack>
        
    </MudStack>
</MudGrid>



<MudDataGrid Items="@ListOfCars">

    <Columns>

        <PropertyColumn Property="c => c.Id" Title="Id" />
        <PropertyColumn Property="c => c.Year" Title="Year" />
        <PropertyColumn Property="c => c.Make" Title="Make" />
        <PropertyColumn Property="c => c.Model" Title="Model" />
        <PropertyColumn Property="c => c.Color" Title="Color" />


        <TemplateColumn>
            <CellTemplate>
                <MudButton OnClick="@(() => OpenDialog(context.Item))" Variant="Variant.Filled" Color="Color.Primary">
                    Open Car Details
                </MudButton>
                <MudButton @onclick="_ => OpenDialog(context.Item.Notes, context.Item)" Variant="Variant.Filled" Color="Color.Primary">
                    Open Notes
                </MudButton>
            </CellTemplate>
        </TemplateColumn>

    </Columns>
</MudDataGrid>


<MudTimeline>

    <EditForm Model="@ListOfCars" OnSubmit="@SortCarsByYear">
        <MudStack Row="true">
            <MudButton @onclick="_ => SortCarsByYear()" Variant="Variant.Filled" Color="Color.Primary">
                Sort By Year
            </MudButton>
            <MudButton @onclick="_ => PopulateCarList()" Variant="Variant.Filled" Color="Color.Primary">
                Sort By Id
            </MudButton>
        </MudStack>
    </EditForm>
    @foreach (var car in ListOfCars)
    {
        <MudTimelineItem>
            <MudStack Row="true">
                <MudText>@car.Id</MudText>
                    <MudText>@car.Year</MudText>
                    <MudText>@car.Make</MudText>
                    <MudText>@car.Model</MudText>
                    <MudText>@car.Color</MudText>
                </MudStack>
        </MudTimelineItem>
    }
</MudTimeline>

@code
{
    public ColorPickerMode ColorPickerMode { get; set; }
}