@page "/InitialUser"


<h3>Initial User</h3>

@inherits InitialUserComponent

<table>
	<tr>
		<td>
			<EditForm Model="@currentUser" OnSubmit="@PopulateCarList">
				<InputNumber @bind-Value="@currentUser.ID" placeholder="Enter User Id" />
				<button type="submit">Select User</button>
			</EditForm>
		</td>
	</tr>
</table>

<table>
	<tr>
		<th>^Select User^</th>
		<th>Add a Car</th>
	</tr>
	<tr>
		<td>
			<div style="padding: 10px;">
				<EditForm Model="@ListOfCars" OnSubmit="@FilterBySearch">
					<InputText @bind-Value="@search" placeholder="Enter Car Details" />
					<button type="submit">Search for Car</button>
				</EditForm>
			</div>
		</td>
		<td>
			<EditForm Model="@newCar" OnSubmit="@AddCar">
				<InputNumber @bind-Value="@newCar!.Year" placeholder="Enter Car Year" />
				<InputText @bind-Value="@newCar!.Make" placeholder="Enter Car Make" />
				<InputText @bind-Value="@newCar!.Model" placeholder="Enter Car Model" />
				<InputText @bind-Value="@newCar!.Color" placeholder="Enter Car Color" />
				<button type="submit">Add Car</button>
			</EditForm>
		</td>
	</tr>
</table>


<table border="1">
	<thead>
		<tr>
			<th>UserName</th>
		</tr>

	</thead>
	<tbody>
		<tr>
			<td>@currentUser.UserName</td>
		</tr>
	</tbody>
</table>
<table>

	<thead>
		<tr>
			<th>@currentUser.UserName 's Cars</th>
		</tr>
	</thead>
	<tbody>
		@if (ListOfCars == null || ListOfCars.Count == 0)
		{
			<p style="color: red; font-weight: bold;">
				No Cars have been found
			</p>
		}
		else
		{
			@foreach (var car in ListOfCars)
			{
				<tr>
					<td>@car.Id</td>
					<td>@car.Year</td>
					<td>@car.Make</td>
					<td>@car.Model</td>
					<td>@car.Color</td>
					
					<td>
						<MudButton @onclick="_ => OpenDialog(car)" Variant="Variant.Filled" Color="Color.Primary">
							Open Car Details
						</MudButton>
					</td>
					<td>
						@{
							var notes = ListOfNotes.Where(n => n.CarId == car.Id).ToList();
						}
							<MudButton @onclick="_ => OpenDialog(notes, car)" Variant="Variant.Filled" Color="Color.Primary">
							Open Notes
							</MudButton>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
