@page "/InitialUser"
<h3>Initial User </h3>

@inherits InitialUserComponent


<table>
	<tr>
		<th>Initial User</th>
		<th>Add a Car </th>
		<th>Delete a Car</th>
	</tr>
	<tr>
		<td>
            <div style="padding: 10px;">
                <EditForm Model="@ListOfCars" OnSubmit="@FilterBySearch">
                    <InputText @bind-Value="@search" placeholder="Enter Car Details" />
                    <button type="submit">Search for Car</button>
                </EditForm>
            </div>
		</td>
        <td>
            <EditForm Model="@newCar" id="addNewCar" OnSubmit="@AddCar">
                <InputNumber @bind-Value="@newCar!.Year" placeholder="Enter Car Year" />
                <InputText @bind-Value="@newCar!.Make" placeholder="Enter Car Make" />
                <InputText @bind-Value="@newCar!.Model" placeholder="Enter Car Model" />
                <InputText @bind-Value="@newCar!.Color" placeholder="Enter Car Color" />
                <InputNumber @bind-Value="@newCar!.UserId" placeholder="Enter User" />
                <button type="submit">Add Car</button>
            </EditForm>
        </td>
		<td>
			<EditForm Model="@newNote" OnSubmit="@AddNote">
				<InputText @bind-Value="@newNote!.Comments" placeholder="Add a Comment" />

				<button type="submit">Add Comment</button>
			</EditForm>
		</td>
	</tr>
</table>

</table>
<table border="1">

    <thead>
        <tr>
            <th>UserName</th>
        </tr>

    </thead>
    <tbody>
        @if (ListOfUsers == null || ListOfUsers.Count == 0)
        {
            <p style="color: red; font-weight: bold;">
                No Users have been found
            </p>
        }
        else
        {
            
            @foreach (var user in ListOfUsers)
            {
            <tr>
                <td>@user.UserName</td>
            </tr>
            }

        }
    </tbody>

</table>
<table>

    <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ListOfCars == null || ListOfCars.Count == 0)
        {
            <p style="color: red; font-weight: bold;">
                No Cars have been found
            </p>
        }
        else
        {
            @foreach (var car in ListOfCars)
            {
                <tr>
                    <td>@car.Year</td>
                    <td>@car.Make</td>
                    <td>@car.Model</td>
                    <td>@car.Color</td>
                    <td>@car.Id</td>
                    <td>
                        <EditForm Model="@car" OnSubmit="@(async () => await DeleteCar(car))">

                            <button type="submit">Delete Car</button>
                        </EditForm>
                    </td>
                    <td>


                        <EditForm Model="@car" OnSubmit="@(async () => await UpdateCar(car))">
                            <InputNumber @bind-Value="@car.Year" placeholder="Enter Car Year" />
                            <InputText @bind-Value="@car.Make" placeholder="Enter Car Make" />
                            <InputText @bind-Value="@car.Model" placeholder="Enter Car Model" />
                            <InputText @bind-Value="@car.Color" placeholder="Enter Car Color" />
                            <button type="submit">Update Car</button>
                        </EditForm>
                    </td>


                </tr>
            }
        }
    </tbody>
</table>
