@page "/Notes"
<h3>Notes</h3>

@inherits NoteComponent


<table>
	<tr>
		<th>Search for Comment</th>
		<th>Add a Comment </th>
	</tr>
	<tr>
		<td>
			<div style="padding: 10px;">
				<EditForm Model="@ListOfNotes" OnSubmit="@MainSearch">
					<InputText @bind-Value="@search" placeholder="Search for Comment" />
					<button type="submit">Search for Note</button>
				</EditForm>
			</div>
		</td>

		<td>
			<EditForm Model="@newNote" OnSubmit="@AddNote">
				<InputText @bind-Value="@newNote!.Comments" placeholder="Add a Comment" />

				<button type="submit">Add Comment</button>
			</EditForm>
		</td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th>Comments</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@if (ListOfNotes == null || ListOfNotes.Count == 0)
		{
			<p style="color: red; font-weight: bold;">
				No Comments have been found
			</p>

		}
		else
		{

			@foreach (var note in ListOfNotes)
			{
				<tr>
					<td>@note.Comments</td>
					<td>
						<EditForm Model="@ListOfNotes" OnSubmit="@(async () => await DeleteNote(note))">
							<button type="submit">Delete Comment</button>
						</EditForm>
					</td>
				
				
					<td>
						<EditForm Model="@note" OnSubmit="@(async () => await UpdateNote(note))">
							<InputText @bind-Value="@note.Comments" placeholder="Change Comment"/>
							<button type="submit">Change Comment</button>
							</EditForm>
					</td>
				</tr>
			}
		}
	</tbody>

</table>

