@page "/Users"
<h3>Users</h3>

@inherits UserComponent


<table border="1">
    <tr>
        <td>
            <h4>Search for Users</h4>
            <EditForm Model="@ListOfUsers" OnSubmit="@FilterByUserSearch">
                <InputText @bind-Value="@search" placeholder="Enter User Name" />
                <button type="submit">Filter By Details</button>
            </EditForm>
        </td>
        <td>
            <h4>Create New User</h4>
            <EditForm Model="@newUser" OnSubmit="@AddUser">
                <InputText @bind-Value="@newUser!.UserName" placeholder="Enter User Name" />
                <button type="submit">Create User</button>
            </EditForm>
        </td>
        <td>
            <h4>Delete a User</h4>
            <EditForm Model="@userToDelete" OnSubmit="@DeleteUser">
                <InputText @bind-Value="@userToDelete.UserName" placeholder="Enter User Name" />
                <button type="submit">Delete User</button>
            </EditForm>
        </td>
    </tr>
</table>
<table border="1">
    
        @if (ListOfUsers == null || ListOfUsers.Count == 0)
        {
            <p style="color: red; font-weight: bold;">
                No Users have been found
            </p>
        }
        else
        {
                <th>Users in Database</th>    
                @foreach (var users in ListOfUsers)
                {
                    <tr>
                        <td>    
                            <li>@users.UserName</li>
                        </td>
                    </tr>
                }
            
        }

    
</table>


@*@if (ListOfUsers == null || ListOfUsers.Count == 0)
{
    <p style="color: red; font-weight: bold;">
        No Users have been found
    </p>
}
else
{
    <table border="1">
        <tr>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
        @foreach (var users in ListOfUsers)
        {
            <tr>

                <td>
                 <li>@users.UserName</li>
                </td>
            </tr>
        }
    </table>
}
*@





@* 
						Homework: 
	-format list into Table (3 columns) (w3 schools)
	-add delete button in table on 3rd column which deletes entire row 
	-figure out how to retrieve deleted rows in SQL

	--------------------------------------------------------------------------------------------------------
	
	-add note functionality
	-get rid of car list in saved vs file and create in database
	-figure out how to save databse for future use
	-azure credits (create a server for testing "Azure SQL")

	@if (ListOfUsers == null || ListOfUsers.Count == 0)
{
	<p style="color: red; font-weight: bold;">
		No Users have been found
	</p>

}
else
{

		@foreach (var users in ListOfUsers)
		{
			<li>@users.UserName</li>
		}

}
*@