@page "/Users"
<h3>Users</h3>

@inherits UserComponent


<div style="padding: 10px;">
	<EditForm Model="@ListOfUsers" OnSubmit="@FilterByUserSearch">
		<InputText @bind-Value="@search" placeholder="Enter UserName" />
		<button type="submit">Filter By Details</button>
	</EditForm>
</div>

<div style="padding: 10px;">
	<EditForm Model="@model" OnSubmit="@AddUser">
		<InputText @bind-Value="@model.UserName" placeholder="Enter User Name" />
		<button type="submit">Create User</button>
	</EditForm>
</div>



@if (ListOfUsers == null || ListOfUsers.Count == 0)
{
	<p style="color: red; font-weight: bold;">
		No Users have been found
	</p>

}
else
{
	<ol>
		@foreach (var users in ListOfUsers)
		{
			<li>@users.UserName</li>
		}
	</ol>
}

	
