@page "/Users"
<h3>Users</h3>

@inherits UserComponent


<table border="1">


    <tr>
        <td>
            <h4>Search for Users</h4>
            <EditForm Model="@ListOfUsers" OnSubmit="@FilterByUserSearch">
                <InputText @bind-Value="@search" placeholder="Search User" />
                <button type="submit">Filter By Details</button>
            </EditForm>
        </td>
        <td>
            <h4>Create New User</h4>
            <EditForm Model="@newUser" OnSubmit="@AddUser">
                <InputText @bind-Value="@newUser!.UserName" placeholder="Enter User Name" />
                <button type="submit">Create User</button>
            </EditForm>
        </td>
    </tr>

</table>
<table border="1">

    <thead>
        <tr>
            <th>UserName</th>
        </tr>

    </thead>
    <tbody>
        @if (ListOfUsers == null || ListOfUsers.Count == 0)
        {
            <p style="color: red; font-weight: bold;">
                No Users have been found
            </p>
        }
        else
        {
            
            @foreach (var user in ListOfUsers)
            {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <EditForm Model="@ListOfUsers" OnSubmit="@(async ()=> await DeleteUser(user))">
                        <button type="submit">Delete User</button>
                    </EditForm>
                </td>
                <td>
                    <EditForm Model="@user" id="updateUser" OnSubmit="@(async () => await UpdateUser(user))">
                        <InputText @bind-Value="@user.UserName" placeholder ="Change User Name"/>
                        <button type="submit">Update User</button>
                    </EditForm>
                </td>
            </tr>
            }

        }
    </tbody>

</table>









